html, body{
  font-family: Helvetica, Arial, "sans-serif";
}

body{
  padding-top: 40px;
}

.btn{
  box-shadow: 0px 1px 3px #ddd;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px 0;
  text-transform: uppercase;

  font-size: 13px;
  color: gray;
}

.btn:hover{
  box-shadow: 0px 1px 3px #000;
  color: black;
}

.btn.primary{
  color: white;
  background: #2371D8;
}

.btn.primary:hover{
  color: white;
  background: navy;
}

div.navbar{
  padding: 10px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1989;
  height:20px;
  box-shadow: 0px 2px 5px #ddd;

  font-size: 13px;
}

div.navbar input, div.navbar textarea{
  display:block;
  border-radius: 4px;
  border: 0;
  padding: 3px 8px;
  border:1px solid #eee;
}

div.navbar input:focus, div.navbar textarea:focus{
  outline: 0;
  box-shadow:0px 0px 3px green;
}

div.navbar input.filter{
  float:right;
}

span.announcement{
  color: #808080;
}

span.announcement a{
  text-decoration: underline;
  cursor: pointer;
}

div.navbar span.settings{
  float:right;
  margin:0px 10px;
}

div.menus{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

div.menus div.menu{
  padding:10px;
  position:absolute;
  top:0;
  box-shadow: 0px 3px 4px #ddd;
  background:white;
  width:300px;
  z-index:1990;
}

div.menu label{
  color: gray;
  margin-top: 5px;
  display: block;
}

div.menu input, div.menu textarea{
  width: 100%;
  padding: 3px 0;
}

div.menus div.menu.settings{
  right:0;
}

/* Only display submit button when form is dirty */
div.menu.settings form .btn.submit{
  display:none;
}

div.menu.settings form.ng-dirty .btn.submit{
  display:block;
}

pre, code {
  margin: 0;
}

div.file{
}

div.fileheader{
  margin:20px 0;
  font-size: 20px;
}

div.file .title{
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: underline;
}

div.todo{
  font-family: monospace;
  padding: 10px 0;
  background: #eee;
  box-shadow: 2px 2px 5px #ddd;
  position: relative;
  overflow: hidden;
}

div.todo:not(:last-child){
  margin: 0 0 20px 0;
}

div.todo pre{
  position: absolute;
  left: 50px;
}

div.lineNumber{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.lineNumber.todoline{
  font-weight: bold;
  background: rgb(201, 223, 206);
}

div.lineNumbers{
  color: gray;
  float: left;
  width: 100%;
  padding-left: 10px;
}

div.todo pre code.hljs{
  padding: 0 !important;
  background: transparent !important;
}
