html, body{
  font-family: Helvetica, Arial, "sans-serif";
}

body{
  padding-top: 20px;
}

div.navbar{
  padding: 10px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1989;
  height:20px;
  box-shadow: 0px 2px 5px #ddd;
}

div.navbar input.filter{
  display:block;
  float:right;
  border-radius: 4px;
  border: 0;
  padding: 3px 8px;
  border:1px solid #eee;
}

div.navbar input.filter:focus{
  outline: 0;
  box-shadow:0px 0px 3px green;
}

span.announcement{
  color: #808080;
  font-size: 13px;
}

span.announcement a{
  text-decoration: underline;
  cursor: pointer;
}

pre, code {
  margin: 0;
}

div.file{
}

div.fileheader{
  margin:20px 0;
  font-size: 20px;
}

div.file .title{
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: underline;
}

div.todo{
  font-family: monospace;
  padding: 10px 0;
  background: #eee;
  box-shadow: 2px 2px 5px #ddd;
  position: relative;
  overflow: hidden;
}

div.todo:not(:last-child){
  margin: 0 0 20px 0;
}

div.todo pre{
  position: absolute;
  left: 50px;
}

div.lineNumber{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.lineNumber.todoline{
  font-weight: bold;
  background: rgb(201, 223, 206);
}

div.lineNumbers{
  color: gray;
  float: left;
  width: 100%;
  padding-left: 10px;
}

div.todo pre code.hljs{
  padding: 0 !important;
  background: transparent !important;
}
