<!doctype html>
<html ng-app="todoview">
  <head>
    <title>todoview</title>
    <link rel=stylesheet type="text/css" href="static/style.css">
    <link rel=stylesheet type="text/css" href="static/highlight/default.css">
    <link rel="icon" 
      type="image/png" 
      href="static/favicon.ico">
    <script src="static/angular.min.js"></script>
    <script src="static/angular-resource.min.js"></script>
    <script src="static/highlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body ng-controller="TodoviewController">
    
    <div class="file" ng-repeat="file in files">

      <div class="fileheader">
        <span class="title">{{file.filename}}</span>
      </div>

      <div class="todo" ng-repeat="todo in file.todos">
        <div codeblock todo="todo"></div>
      </div>

    </div>
    <script src="static/app.js"></script>
  </body>
</html>
