<!doctype html>
<html ng-app="todoview" ng-controller="TodoviewController">
  <head>
    <title>view ({{totalTodoCount()}})</title>
    <link rel=stylesheet type="text/css" href="static/style.css">
    <link rel=stylesheet type="text/css" href="static/highlight/default.css">
    <link rel="icon" 
      type="image/png" 
      href="static/favicon.png">
    <script src="static/angular.min.js"></script>
    <script src="static/angular-resource.min.js"></script>
    <script src="static/highlight.js"></script>
  </head>
  <body>

    <div ng-show="needsRefresh" class="announcement">
      Files have changed.
      <a ng-click="triggerRefresh()">Refresh</a>
      <a ng-click="needsRefresh = false">Dismiss</a>
    </div>

    <input ng-model="todoFilter" placeholder="Filter TODOS..."></input>

    <div class="file" ng-repeat="file in files" ng-show="visibleTodos.length">

      <div class="fileheader">
        <span class="title">{{file.filename}}</span>
        ({{visibleTodos.length}})
      </div>

      <div class="todo" ng-repeat="todo in visibleTodos = (file.todos | filter: todosMatchingText)">
        <div codeblock file=file todo="todo"></div>
      </div>

    </div>
    <script src="static/app.js"></script>
  </body>
</html>
